
.divClass{
  height:500px;
  overflow-y:auto;
}
.tableClass{
  border: 1px solid ;
  border-color:black;  
}
.cellClass{
  border: 1px solid ;
  border-color:black; 
  max-width:140px;
  word-wrap:true;
  word-break: break-all;
}
.headerCellClass{
  border: 1px solid ;
  border-color:black;  
  min-width:80px;  
}
.selectClass{
  position: relative;   
  left: 40%;  
  height:30px;
}
.paginationClass{
  position: relative;   
  left: 40%;  
}
.btnClass{
  width:60px;
}
.headerRow{
  background-color: burlywood;
}