

  <div class="selectClass">
      Records Per Page:
      <select [(ngModel)]="pageSize" (click)="changePageSize()">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
      </select>
  </div>


<div class="divClass">
    <table class="tableClass"> 
          <thead>
            <tr class="headerRow">   
              <th class="headerCellClass"><span>Test</span></th>               
              <th *ngFor="let col of columns" class="headerCellClass">
                {{col}}
              </th>
            </tr>  
          </thead>
          <tbody>
             <tr *ngFor="let user of users" class="cellClass"> 
                   <td class="cellClass"><input type="button" value ="select" class="btnClass" (click)="submitUserData(user)"/></td>           
                    <td *ngFor="let col of columns" class="cellClass">
                      {{user[col]}}
                    </td>
            </tr>
          </tbody>
    </table>
  </div>
<div class="paginationClass">
  <app-pagination
    (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="3"
    [page]="page"
    [perPage]="pageSize"
    [count]="total"></app-pagination>
</div>
